<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <div class="container">
        <form class="form-container" action="loginForm.php" method="post">
        <h2>Login</h2>
        <input type="email" name="email" id="password" placeholder="Email Address" />
        <input type="password" name="password" id="password" placeholder="Password" />
        <p><a href="forgotPass.php">Forgot Password?</a></p>
        <button type="submit" name="submit" >Login</button>
      </form>
      <p class="not-memeber">
        Not a member?
        <a href="../signup/signup.html">Signup Now</a>
      </p>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.27.2/axios.min.js"></script>
   <script src="login.js"></script>
  </body>
</html>