<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="../css/login.css" />
  </head>
  <body>
    <div class="container">
      <form class="form-container" onsubmit="login(event)" method="post">
        <h2>Login</h2>
        <div class="msg"></div>
        <input
          type="email"
          name="email"
          id="email"
          placeholder="Email Address"
        />
        <input
          type="password"
          name="password"
          id="password"
          placeholder="Password"
        />
        <p><a href="./forgotPassword.html">Forgot Password?</a></p>
        <button type="submit" name="submit">Login</button>
      </form>
      <p class="not-memeber">
        Not a member?
        <a href="./signup.html">Signup Now</a>
      </p>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.27.2/axios.min.js"></script>
    <script src="../js/login.js"></script>
  </body>
</html>
