
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Register Form</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <link rel="stylesheet" href="../css/login.css">
  </head>
  <body>
    <form class="form-container" onsubmit="signup(event)" method="post">
      <h2>Register</h2>
      <div class="msg success"></div>

      <input type="text" id="name" name="name" placeholder="Full Name" required />
      <input type="email" id="email" name="email" placeholder="Email" required />
      <input type="password" id="password" name="password" placeholder="Password" required />
      <button type="submit" name="submit"  class="st_reg_btn1">Register Now</button>
      <div class="social-login">
        --- Or Register With ---
     <div>
        <i class="fab fa-google"><a href="#"> Google</a></i> 
        <i class="fab fa-apple"><a href="#"> Apple Id</a></i> 
        <i class="fab fa-facebook "><a href="#"> Facebook</a></i> 
     </div>
      </div>
    </form>
    <p class="memeber">
      Already have an account?
      <a href="./login.html">Login</a>
    </p>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.27.2/axios.min.js"></script>
   <script src="../js/signup.js"></script>
  </body>
</html>